.light {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FDF3FF;
  --md-sys-color-on-background: #E1C8F8;
  --md-sys-color-surface: #FDF3FF;
  --md-sys-color-surface-dim: #E5CAFF;
  --md-sys-color-surface-bright: #FDF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9ECFF;
  --md-sys-color-surface-container: #F3E2FF;
  --md-sys-color-surface-container-high: #EFDBFF;
  --md-sys-color-surface-container-highest: #EBD4FF;
  --md-sys-color-on-surface: #38264C;
  --md-sys-color-surface-variant: #EBD4FF;
  --md-sys-color-on-surface-variant: #67537C;
  --md-sys-color-outline: #836E99;
  --md-sys-color-outline-variant: #BBA4D2;
  --md-sys-color-inverse-surface: #16052A;
  --md-sys-color-inverse-on-surface: #AB94C1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8D5FFF;
  --md-sys-color-primary: #6935D9;
  --md-sys-color-primary-dim: #5D24CC;
  --md-sys-color-on-primary: #F7F0FF;
  --md-sys-color-primary-container: #AC8EFF;
  --md-sys-color-on-primary-container: #2A006F;
  --md-sys-color-primary-fixed: #AC8EFF;
  --md-sys-color-primary-fixed-dim: #A07CFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-inverse-primary: #9E79FF;
  --md-sys-color-secondary: #7343A9;
  --md-sys-color-secondary-dim: #67369C;
  --md-sys-color-on-secondary: #FAEFFF;
  --md-sys-color-secondary-container: #E3C6FF;
  --md-sys-color-on-secondary-container: #5E2D93;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #4A147E;
  --md-sys-color-on-secondary-fixed-variant: #68379D;
  --md-sys-color-tertiary: #9D365D;
  --md-sys-color-tertiary-dim: #8E2951;
  --md-sys-color-on-tertiary: #FFEFF1;
  --md-sys-color-tertiary-container: #FF8EB2;
  --md-sys-color-on-tertiary-container: #640432;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #BF8CF7;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103A;
  --md-sys-color-error: #B41340;
  --md-sys-color-error-dim: #A20036;
  --md-sys-color-on-error: #FFEFEF;
  --md-sys-color-error-container: #F74B6D;
  --md-sys-color-on-error-container: #100002;
  --md-sys-color-control-activated: #AC8EFF;
  --md-sys-color-control-normal: #E4CBFB;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #16052A;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D9BAFA;
  --md-sys-color-text-primary-inverse-disable-only: #EFDBFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDBFF;
  --md-sys-color-text-hint-inverse: #EFDBFF;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #16052A;
  --md-sys-color-on-background: #E1C8F8;
  --md-sys-color-surface: #16052A;
  --md-sys-color-surface-dim: #16052A;
  --md-sys-color-surface-bright: #36244A;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0832;
  --md-sys-color-surface-container: #240E3B;
  --md-sys-color-surface-container-high: #2B1344;
  --md-sys-color-surface-container-highest: #32194E;
  --md-sys-color-on-surface: #F1DFFF;
  --md-sys-color-surface-variant: #2F1D43;
  --md-sys-color-on-surface-variant: #A18AB7;
  --md-sys-color-outline: #826D97;
  --md-sys-color-outline-variant: #534067;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #604D75;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8D5FFF;
  --md-sys-color-primary: #B99FFF;
  --md-sys-color-primary-dim: #8354F4;
  --md-sys-color-on-primary: #38008D;
  --md-sys-color-primary-container: #AC8EFF;
  --md-sys-color-on-primary-container: #2A006F;
  --md-sys-color-primary-fixed: #AC8EFF;
  --md-sys-color-primary-fixed-dim: #A07CFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-inverse-primary: #6C3ADC;
  --md-sys-color-secondary: #BF8CF7;
  --md-sys-color-secondary-dim: #B987F2;
  --md-sys-color-on-secondary: #380069;
  --md-sys-color-secondary-container: #5D2C92;
  --md-sys-color-on-secondary-container: #E2C5FF;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #4A147E;
  --md-sys-color-on-secondary-fixed-variant: #68379D;
  --md-sys-color-tertiary: #FF97B7;
  --md-sys-color-tertiary-dim: #FC81AA;
  --md-sys-color-on-tertiary: #6A0936;
  --md-sys-color-tertiary-container: #FC81AA;
  --md-sys-color-on-tertiary-container: #59002B;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #BF8CF7;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103A;
  --md-sys-color-error: #FF6E84;
  --md-sys-color-error-dim: #D73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #A70138;
  --md-sys-color-on-error-container: #FFDADD;
  --md-sys-color-control-activated: #AC8EFF;
  --md-sys-color-control-normal: #36244A;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553B72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
  --md-sys-color-widget-background: #3A0092;
}
