.light {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #938E9B;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F2EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E7E0EF;
  --md-sys-color-on-surface: #1D1A24;
  --md-sys-color-surface-variant: #E7DFF2;
  --md-sys-color-on-surface-variant: #494453;
  --md-sys-color-outline: #7A7484;
  --md-sys-color-outline-variant: #CBC3D5;
  --md-sys-color-inverse-surface: #322F3A;
  --md-sys-color-inverse-on-surface: #F5EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F19FF;
  --md-sys-color-primary: #6F19FF;
  --md-sys-color-primary-dim: #6C0BFF;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #E9DDFF;
  --md-sys-color-on-primary-container: #5400CC;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #5400CC;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #6B5778;
  --md-sys-color-secondary-dim: #756082;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F3DAFF;
  --md-sys-color-on-secondary-container: #523F5F;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #79507A;
  --md-sys-color-tertiary-dim: #835A84;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD6FC;
  --md-sys-color-on-tertiary-container: #5F3961;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #2F0D33;
  --md-sys-color-on-tertiary-fixed-variant: #5F3961;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E7E0EF;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #3B3743;
  --md-sys-color-surface-container-lowest: #0F0D16;
  --md-sys-color-surface-container-low: #1D1A24;
  --md-sys-color-surface-container: #211E28;
  --md-sys-color-surface-container-high: #2C2833;
  --md-sys-color-surface-container-highest: #37333E;
  --md-sys-color-on-surface: #E7E0EF;
  --md-sys-color-surface-variant: #494453;
  --md-sys-color-on-surface-variant: #CBC3D5;
  --md-sys-color-outline: #948E9F;
  --md-sys-color-outline-variant: #494453;
  --md-sys-color-inverse-surface: #E7E0EF;
  --md-sys-color-inverse-on-surface: #322F3A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #CFBCFF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #3A0092;
  --md-sys-color-primary-container: #5400CC;
  --md-sys-color-on-primary-container: #E9DDFF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #5400CC;
  --md-sys-color-inverse-primary: #6F19FF;
  --md-sys-color-secondary: #D7BEE4;
  --md-sys-color-secondary-dim: #E8CEF6;
  --md-sys-color-on-secondary: #3B2948;
  --md-sys-color-secondary-container: #523F5F;
  --md-sys-color-on-secondary-container: #F3DAFF;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #E8B7E7;
  --md-sys-color-tertiary-dim: #FDCAFB;
  --md-sys-color-on-tertiary: #462349;
  --md-sys-color-tertiary-container: #5F3961;
  --md-sys-color-on-tertiary-container: #FFD6FC;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #2F0D33;
  --md-sys-color-on-tertiary-fixed-variant: #5F3961;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #5400CC;
  --md-sys-color-control-normal: #CBC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #3A0092;
}
