.light {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #938E96;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E6E0E9;
  --md-sys-color-on-surface: #1D1B20;
  --md-sys-color-surface-variant: #E7E0EE;
  --md-sys-color-on-surface-variant: #494551;
  --md-sys-color-outline: #7A7582;
  --md-sys-color-outline-variant: #CBC4D2;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #F5EFF7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750A4;
  --md-sys-color-primary: #4F378A;
  --md-sys-color-primary-dim: #7159AE;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #E0D2FF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #4F378A;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #63597C;
  --md-sys-color-secondary-dim: #6D6386;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E1D4FD;
  --md-sys-color-on-secondary-container: #645A7D;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #1F1635;
  --md-sys-color-on-secondary-fixed-variant: #4B4263;
  --md-sys-color-tertiary: #762A5B;
  --md-sys-color-tertiary-dim: #9D4B7E;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #924274;
  --md-sys-color-on-tertiary-container: #FFCAE5;
  --md-sys-color-tertiary-fixed: #FFD8EA;
  --md-sys-color-tertiary-fixed-dim: #FFAEDB;
  --md-sys-color-on-tertiary-fixed: #3C002B;
  --md-sys-color-on-tertiary-fixed-variant: #752A5B;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494551;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #E6E0E9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #3B383E;
  --md-sys-color-surface-container-lowest: #0F0D13;
  --md-sys-color-surface-container-low: #1D1B20;
  --md-sys-color-surface-container: #211F24;
  --md-sys-color-surface-container-high: #2B292F;
  --md-sys-color-surface-container-highest: #36343A;
  --md-sys-color-on-surface: #E6E0E9;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #CBC4D2;
  --md-sys-color-outline: #948E9C;
  --md-sys-color-outline-variant: #494551;
  --md-sys-color-inverse-surface: #E6E0E9;
  --md-sys-color-inverse-on-surface: #322F35;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #CFBCFF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #381E72;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #E0D2FF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #4F378A;
  --md-sys-color-inverse-primary: #6750A4;
  --md-sys-color-secondary: #CDC0E9;
  --md-sys-color-secondary-dim: #DED1FA;
  --md-sys-color-on-secondary: #342B4B;
  --md-sys-color-secondary-container: #4D4465;
  --md-sys-color-on-secondary-container: #BFB2DA;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #1F1635;
  --md-sys-color-on-secondary-fixed-variant: #4B4263;
  --md-sys-color-tertiary: #FFAEDB;
  --md-sys-color-tertiary-dim: #FFC3E2;
  --md-sys-color-on-tertiary: #5A1243;
  --md-sys-color-tertiary-container: #924274;
  --md-sys-color-on-tertiary-container: #FFCAE5;
  --md-sys-color-tertiary-fixed: #FFD8EA;
  --md-sys-color-tertiary-fixed-dim: #FFAEDB;
  --md-sys-color-on-tertiary-fixed: #3C002B;
  --md-sys-color-on-tertiary-fixed-variant: #752A5B;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #4F378A;
  --md-sys-color-control-normal: #CBC4D2;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
