.light {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #DDD9DA;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DDD9DD;
  --md-sys-color-surface-bright: #FDF8FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #333235;
  --md-sys-color-surface-variant: #E6E1E2;
  --md-sys-color-on-surface-variant: #615E61;
  --md-sys-color-outline: #7D7A7D;
  --md-sys-color-outline-variant: #B5B1B4;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #9F9C9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615D66;
  --md-sys-color-primary: #615D66;
  --md-sys-color-primary-dim: #54515A;
  --md-sys-color-on-primary: #FCF5FF;
  --md-sys-color-primary-container: #E7E0EB;
  --md-sys-color-on-primary-container: #545059;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #F8F1FD;
  --md-sys-color-secondary: #615E62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #FDF7FC;
  --md-sys-color-secondary-container: #E6E1E6;
  --md-sys-color-on-secondary-container: #535155;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #5C5D78;
  --md-sys-color-tertiary-dim: #50516C;
  --md-sys-color-on-tertiary: #FBF7FF;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #4B4C67;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #393A53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #9E3F4E;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #FF8B9A;
  --md-sys-color-on-error-container: #5E0D20;
  --md-sys-color-control-activated: #E7E0EB;
  --md-sys-color-control-normal: #DDD9DA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C9;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EEFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #2D2C2D;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2C2D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #E9E4E7;
  --md-sys-color-surface-variant: #262526;
  --md-sys-color-on-surface-variant: #969296;
  --md-sys-color-outline: #777478;
  --md-sys-color-outline-variant: #49474A;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #565455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CAC4CF;
  --md-sys-color-primary: #CAC4CF;
  --md-sys-color-primary-dim: #BCB7C1;
  --md-sys-color-on-primary: #423F48;
  --md-sys-color-primary-container: #49454E;
  --md-sys-color-on-primary-container: #D4CED9;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #615D67;
  --md-sys-color-secondary: #A09DA1;
  --md-sys-color-secondary-dim: #A09DA1;
  --md-sys-color-on-secondary: #211F23;
  --md-sys-color-secondary-container: #3D3B3E;
  --md-sys-color-on-secondary-container: #C2BEC3;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #EBE9FF;
  --md-sys-color-tertiary-dim: #DBDAFB;
  --md-sys-color-on-tertiary: #54546F;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #4B4C67;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #393A53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #EC7C8A;
  --md-sys-color-error-dim: #B95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7F2737;
  --md-sys-color-on-error-container: #FFC0C6;
  --md-sys-color-control-activated: #49454E;
  --md-sys-color-control-normal: #2D2C2D;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #322F38;
}
