.light {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #A18B8E;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FFE8EB;
  --md-sys-color-surface-container-high: #FCE2E6;
  --md-sys-color-surface-container-highest: #F6DCE0;
  --md-sys-color-on-surface: #26181B;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #534152;
  --md-sys-color-outline: #867183;
  --md-sys-color-outline-variant: #D8BFD4;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFECEE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #4C57A9;
  --md-sys-color-primary-dim: #5661B4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #DFE0FF;
  --md-sys-color-on-primary-container: #343F90;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #874B6D;
  --md-sys-color-secondary-dim: #925477;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFD8EA;
  --md-sys-color-on-secondary-container: #6C3454;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6C3454;
  --md-sys-color-tertiary: #08677F;
  --md-sys-color-tertiary-dim: #1D7189;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #B8EAFF;
  --md-sys-color-on-tertiary-container: #004D61;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #001F28;
  --md-sys-color-on-tertiary-fixed-variant: #004D61;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #F1EFFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170B0D;
  --md-sys-color-surface-container-low: #26181B;
  --md-sys-color-surface-container: #2A1C1F;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #F6DCE0;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #D8BFD4;
  --md-sys-color-outline: #A18A9D;
  --md-sys-color-outline-variant: #534152;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #3C2C2F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #BCC2FF;
  --md-sys-color-primary-dim: #CDD1FF;
  --md-sys-color-on-primary: #1B2678;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #DFE0FF;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #4C57A9;
  --md-sys-color-secondary: #FBB0D7;
  --md-sys-color-secondary-dim: #FFC4E1;
  --md-sys-color-on-secondary: #511D3D;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFD8EA;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6C3454;
  --md-sys-color-tertiary: #88D1EC;
  --md-sys-color-tertiary-dim: #96DFFB;
  --md-sys-color-on-tertiary: #003544;
  --md-sys-color-tertiary-container: #004D61;
  --md-sys-color-on-tertiary-container: #B8EAFF;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #001F28;
  --md-sys-color-on-tertiary-fixed-variant: #004D61;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #1B2678;
}
