.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #E5D7D8;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EBD5D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FDE9EC;
  --md-sys-color-surface-container-high: #F8E3E6;
  --md-sys-color-surface-container-highest: #F4DDE0;
  --md-sys-color-on-surface: #3D2F31;
  --md-sys-color-surface-variant: #EEDFE0;
  --md-sys-color-on-surface-variant: #6C5B5E;
  --md-sys-color-outline: #887679;
  --md-sys-color-outline-variant: #C2ADB0;
  --md-sys-color-inverse-surface: #130C0E;
  --md-sys-color-inverse-on-surface: #A69A9B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #7A517A;
  --md-sys-color-primary-dim: #6D456D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #F8C4F4;
  --md-sys-color-on-primary-container: #623B63;
  --md-sys-color-primary-fixed: #F8C4F4;
  --md-sys-color-primary-fixed-dim: #E9B6E6;
  --md-sys-color-on-primary-fixed: #4E284F;
  --md-sys-color-on-primary-fixed-variant: #6D446D;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #78584D;
  --md-sys-color-secondary-dim: #6B4C41;
  --md-sys-color-on-secondary: #FFF7F5;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #694B40;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #4C5F84;
  --md-sys-color-tertiary-dim: #405377;
  --md-sys-color-on-tertiary: #F9F8FF;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #1E3254;
  --md-sys-color-on-tertiary-fixed-variant: #3B4F73;
  --md-sys-color-error: #A8364B;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #490013;
  --md-sys-color-control-activated: #F8C4F4;
  --md-sys-color-control-normal: #E5D7D8;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #130C0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EEDFE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EEDFE0;
  --md-sys-color-text-hint-inverse: #EEDFE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #130C0E;
  --md-sys-color-on-background: #322A2B;
  --md-sys-color-surface: #130C0E;
  --md-sys-color-surface-dim: #130C0E;
  --md-sys-color-surface-bright: #322A2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1A1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281D1F;
  --md-sys-color-surface-container-highest: #2F2225;
  --md-sys-color-on-surface: #F7E0E3;
  --md-sys-color-surface-variant: #2C2425;
  --md-sys-color-on-surface-variant: #A28F92;
  --md-sys-color-outline: #837174;
  --md-sys-color-outline-variant: #534447;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #5C5354;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #E3BADF;
  --md-sys-color-primary-dim: #D4ACD1;
  --md-sys-color-on-primary: #543654;
  --md-sys-color-primary-container: #684867;
  --md-sys-color-on-primary-container: #FFD7FA;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #4D304D;
  --md-sys-color-on-primary-fixed-variant: #6C4B6B;
  --md-sys-color-inverse-primary: #755474;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #D8B0A2;
  --md-sys-color-on-secondary: #56392F;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #DFB6A9;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #CEDDFF;
  --md-sys-color-tertiary-dim: #BBCFFA;
  --md-sys-color-on-tertiary: #3B4E72;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #1E3254;
  --md-sys-color-on-tertiary-fixed-variant: #3B4F73;
  --md-sys-color-error: #F97386;
  --md-sys-color-error-dim: #C44B5F;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871C34;
  --md-sys-color-on-error-container: #FFC0C6;
  --md-sys-color-control-activated: #684867;
  --md-sys-color-control-normal: #322A2B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #211A1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211A1B;
  --md-sys-color-text-hint-inverse: #211A1B;
  --md-sys-color-widget-background: #432643;
}
